<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:conditionTagExpression="include[Default.MC or Default.ML or Default.MS] " style="mc-master-page: url('..\..\Resources\MasterPages\OtherTopics.flmsp');" MadCap:conditions="Spryker.B2B,Spryker.B2C,Spryker.DemoShop,Spryker.MultiCurrency,Spryker.MultiLanguage,Spryker.MultiStore,Spryker.ShopSuite">
    <head>
    </head>
    <body>
        <h1>Multiple Currencies per Store <img src="../../Resources/Images/shoptype/B2B_Shop.png" /> <img src="../../Resources/Images/shoptype/B2C_Shop.png" /> <img src="../../Resources/Images/shoptype/MasterSuite.png" /> <img src="../../Resources/Images/shoptype/Demoshop.png" /></h1>
        <p>
            <MadCap:popup>
                <MadCap:popupHead>ML</MadCap:popupHead>
                <MadCap:popupBody>Multi-language</MadCap:popupBody>
            </MadCap:popup> <MadCap:popup><MadCap:popupHead>MS</MadCap:popupHead><MadCap:popupBody>Muti-store</MadCap:popupBody></MadCap:popup> <MadCap:popup><MadCap:popupHead>MC</MadCap:popupHead><MadCap:popupBody>Multi-currency</MadCap:popupBody></MadCap:popup></p>
        <p>The Spryker Commerce OS lets you to define multiple currencies per store for product, product option and shipping method. 
A product can, for example, cost <i>5 EUR</i> in Germany, <i>6 EUR</i> in France and <i>5 CHF</i> in Switzerland. 
Your customers may easily choose between these different currencies. </p>
        <p>All prices on the <b>Product Page</b> and in the <b>Cart</b> are adjusted automatically upon changing the currency. 
<![CDATA[
]]></p>
        <div class="info">Products for which you did not define a price in a specific currency do not appear in the catalog for that currency.</div>
        <h2>Currency Module</h2>
        <p class="tip">The Currency module provides an easy way to retrieve information about a currency given as an ISO code.
</p>
        <p>The methods in the <var>CurrencyFacade</var> will always return an instance of the <var>CurrencyTransfer</var>. You can get any currency by its ISO code or the current configured currency.

</p>
        <h2>Usage
</h2>
        <p><var>CurrencyFacade</var> exposes the following methods:

</p>
        <ul>
            <li class="bullet_list"><var>CurrencyFacade::fromIsoCode()
</var>
            </li>
            <li class="bullet_list"><var>CurrencyFacade::getCurrent()
</var>
            </li>
        </ul>
        <p>The methods defined in the <var>CurrencyFacade</var> return an instance of the <var>CurrencyTransfer</var>, that contains:
</p>
        <ul>
            <li class="bullet_list">
currency ISO code e.g. <i style="font-weight: bold;">EUR</i><![CDATA[
]]></li>
            <li class="bullet_list">currency name e.g. <i style="font-weight: bold;">Euro
</i></li>
            <li class="bullet_list">currency symbol e.g. <i style="font-weight: bold;">€</i><![CDATA[
]]></li>
        </ul>
        <p>In addition, <var>CurrencyTransfer</var> contains information that specifies if it is the default currency or not. <var>CurrencyTransfer::$isDefault</var> can be used to check if currency that was retrieved by <var>CurrencyFacade::fromIsoCode()</var> is the same as the one configured as default for the current store.

</p>
        <p>From currency version 3, we have introduced currency table where currencies are persisted. And currency facade provides API to read this data. Please check migration guide to migrate to the latest currency module.

   <MadCap:conditionalText MadCap:conditions="Spryker.DemoShop"><MadCap:annotation MadCap:createDate="2018-08-31T14:45:29.7825458+03:00" MadCap:creator="oksana.karasyova" MadCap:initials="OK" MadCap:comment="Check if we needto update the paths" MadCap:editor="oksana.karasyova" MadCap:editDate="2018-08-31T14:47:43.8882398+03:00">We have also introduced a currency switcher to Yves. To use it, do the following</MadCap:annotation>:</MadCap:conditionalText></p>
        <ol MadCap:conditions="Spryker.DemoShop">
            <li>Include <var>"\Spryker\Yves\Currency\Plugin\CurrencySwitcherServiceProvider"</var> to your Yves bootstrap and then include twig function <var>"spyCurrencySwitch"</var> in your template where you want the switcher to appear.
   With this switcher we have introduced a new extension point to act when currency is changed. Implement <var>"\Spryker\Yves\Currency\Dependency\CurrencyPostChangePluginInterface"</var> in your custom  plugin, place it to <var>"\Pyz\Yves\Currency\CurrencyDependencyProvider::getCurrencyPostChangePlugins"</var> and get notified when currency is changed.</li>
            <li>Create a Controller Provider for switcher:
   <pre><code class="language-PHP line-numbers">&lt;php

/**
* This file is part of the Spryker Demoshop.
* For full license information, please view the LICENSE file that was distributed with this source code.
*/

namespace Pyz\Yves\Price\Plugin;

use Pyz\Yves\Application\Plugin\Provider\AbstractYvesControllerProvider;
use Silex\Application;

class PriceControllerProvider extends AbstractYvesControllerProvider
{
   const ROUTE_PRICE_SWITCH = 'price-mode-switch';

   /**
    * @param \Silex\Application $app
    *
    * @return void
    */
   protected function defineControllers(Application $app)
   {
       $this-&gt;createController(
           '/price-mode-switch',
           static::ROUTE_PRICE_SWITCH,
           'Price',
           'PriceModeSwitch',
           'index'
       );
   }
}</code></pre></li>
            <li>Register in Yves bootstrap:
<pre><code class="language-PHP line-numbers">namespace Pyz\Yves\Application;

class YvesBootstrap
{
    /**
    * @param bool|null $isSsl
    *
    * @return \Pyz\Yves\Application\Plugin\Provider\AbstractYvesControllerProvider[]
    */
   protected function getControllerProviderStack($isSsl)
   {
      return [
        ...
        new CurrencyControllerProvider($isSsl),
        ...
    ]
   }
}</code></pre></li>
            <li>Create template in <var>"/Pyz/Yves/Currency/Theme/default/partial/currency_switcher.twig"</var>:
<pre><code class="language-XML line-numbers">{% if currencies|length &gt; 1 %}
    &lt;form method="GET" action="{{ path('currency-switch') }}" data-component="currency-switch"&gt;
        &lt;select name="currency-iso-code" onchange="this.form.submit()"&gt;
        {% for currency in currencies %}
               &lt;option value="{{ currency.code }}" {{ (currency.code == currentCurrency) ? 'selected' : ''}}&gt;{{ currency.name | trans }}&lt;/option&gt;
        {% endfor %}
        &lt;/select&gt;
        &lt;input type="hidden" name="referrer-url" value="{{ app.request.requestUri }}" /&gt;
    &lt;/form&gt;
{% endif %}</code></pre></li>
        </ol>
        <p>In order to get the cart recalculated when currency is switched, you need rebuild quote/recalculate item discounts, prices and other related product data when currency changes.
To do that, install the new <var>composer require spryker/cart-currency-connector</var> module.</p>
        <p>Then include plugin <var>\Spryker\Yves\CartCurrencyConnector\CurrencyChange\RebuildCartOnCurrencyChangePlugin</var> to currency post change plugin stack:
<pre><code class="language-PHP line-numbers">&lt;?php

namespace Pyz\Yves\Currency;

use Spryker\Yves\CartCurrencyConnector\CurrencyChange\RebuildCartOnCurrencyChangePlugin;
use Spryker\Yves\Currency\CurrencyDependencyProvider as SprykerCurrencyDependencyProvider;

class CurrencyDependencyProvider extends SprykerCurrencyDependencyProvider
{
    /**
     * @return \Spryker\Yves\Currency\Dependency\CurrencyPostChangePluginInterface[]
     */
    protected function getCurrencyPostChangePlugins()
    {
        return [
            new RebuildCartOnCurrencyChangePlugin(),
        ];
    }
}</code></pre></p>
        <p>&#160;</p>
        <p><b>See also:</b>
        </p>
        <ul>
            <li><a href="../Price/money.htm">Money</a>
            </li>
            <li><a href="http://documentation.spryker.com/module_migration_guides/mg-currency.htm">Migration Guide - Currency</a><![CDATA[
            ]]></li>
        </ul>
        <p>&#160;</p>
        <p><i>Last review date: Nov 22, 2017 </i>
            <MadCap:conditionalText MadCap:conditions="General.Hidden Comment"><i>by Aurimas Ličkus </i>
            </MadCap:conditionalText>
        </p>
    </body>
</html>