# Application key
# Used for encryption where needed.
# Run `php artisan key:generate` to generate a valid key.
APP_KEY=SomeRandomString

# Application URL
# Remove the hash below and set a URL if using BookStack behind
# a proxy, if using a third-party authentication option.
# This must be the root URL that you want to host BookStack on.
# All URL's in BookStack will be generated using this value.
#APP_URL=https://example.com

# Database details
DB_HOST=ec2-54-83-192-245.compute-1.amazonaws.com
DB_DATABASE=di3k1b283l89l
DB_USERNAME=trdoomxyfodpoi
DB_PASSWORD=c53779bbc4a578eca79ca1e6498c3a8403e091f140a5e7ba053b29cc37f5c4f0
DB_PORT=5432

# Mail system to use
# Can be 'smtp', 'mail' or 'sendmail'
MAIL_DRIVER=smtp

# SMTP mail options
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null


# A full list of options can be found in the '.env.example.complete' file.