/*<meta />*/

/*===========================================================================================================================================================

Hello! If this is your first time looking at a stylesheet within the text editor view, what you are reading right now is a "comment". Comments are added throughout this stylesheet with the purpose of making the source code easier to understand, comments will not be interpreted during the compile process. Since comments are not interpreted during the compile process, feel free to add or remove any comments.

For help with MadCap Flare go to Help Ribbon > Topics Section > Open Help. Alternatively visit the Flare Online Help at help.madcapsoftware.com

If you have any questions regarding how to work with this stylesheet or template project, please contact MadCap Technical Support. 
https://www.madcapsoftware.com/support/contact-options.aspx

NOTE: Generally, this stylesheet has elements listed out in the order that they appear in the topic from top to bottom. The exception are General styles which are at the top and the stylesheet mediums which are at the bottom.

EXAMPLE: Since the search-bar is at the top of the topic page, it will be listed closer to the top of this stylesheet.

===========================================================================================================================================================*/

/*==Topic General Styles==*/

body
{
	color: #404040;
	line-height: 1.7em;
	background-color: #fff;
	font-family: 'Replica Std Light';
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	color: #494C4f;
	font-family: 'Replica Std';
}

h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
}

h3
{
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
}

h4
{
	
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 100%;
}

img.thumbnail
{
	mc-thumbnail: popup;
}

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #494C4f;
}

a.MCBreadcrumbsLink:hover
{
	color: #000000;
}

/*==Master Page Topic Layout==*/

nav.title-bar	/*Adds bottom border on top navigation bar*/
{
	border-bottom: 1px solid #d3d3d3;
}

div.top-bar	/*Contains the breadcrumbs and toolbar*/
{
	min-height: 50px;
	/*Min-height is necessary for topics that are not included in a TOC*/
}

div.search-container
{
	float: right;
	max-width: 25%;
}

/*==Elements for the left side of Master Page layout==*/

div.side-menu	/*This is the div that the menu proxy is contained in*/
{
	padding-left: 10px;
	margin-top: 15px;
}

/*Styles that provide the border radius to the menu proxy items*/

ul.menu._Skins_SideMenu.mc-component li > a.selected
{
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 5px;
}

ul.menu._Skins_SideMenu.mc-component li > a:hover
{
	background-color: #494C4f;
	border-radius: 5px;
}

ul.menu._Skins_SideMenu.mc-component ul > li > a:hover
{
	background-color: #494C4f;
	border-radius: 5px;
}

ul.menu._Skins_SideMenu.mc-component ul ul > li > a:hover
{
	background-color: #494C4f;
	border-radius: 5px;
}

ul.menu._Skins_SideMenu.mc-component ul ul ul > li > a:hover
{
	background-color: #494C4f;
	border-radius: 5px;
}

ul.menu._Skins_SideMenu.mc-component ul ul ul ul > li > a:hover
{
	background-color: #494C4f;
	border-radius: 5px;
}

div.topic-layout	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.topic-layout::before
{
	content: ' ';
	display: table;
}

div.topic-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.topic-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.topic-layout > div:nth-child(1)	/*Menu Proxy container*/
{
	width: 25%;
	margin-left: 0%;
}

div.topic-layout > div:nth-child(2)
{
	width: 73%;
	margin-left: 2%;
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1279px)
{
	.row.nav-search
	{
		display: block;
	}

	div.search-container
	{
		display: none;
	}

	div.topic-layout > div:nth-child(1)
	{
		display: none;
	}

	div.topic-layout > div:nth-child(2)
	{
		width: 98%;
		margin-left: 2%;
	}
}

@media only screen and (max-width: 767px)
{
	div.top-bar
	{
		min-height: 0;
	}

	.row.nav-search
	{
		display: block;
	}

	div.search-container
	{
		display: none;
	}

	div.topic-layout > div:nth-child(1)
	{
		display: none;
	}

	div.topic-layout > div:nth-child(2)
	{
		width: 98%;
		margin-left: 2%;
	}
}

