/*<meta />*/

/*===========================================================================================================================================================

Hello! If this is your first time looking at a stylesheet within the text editor view, what you are reading right now is a "comment". Comments are added throughout this stylesheet with the purpose of making the source code easier to understand, comments will not be interpreted during the compile process. Since comments are not interpreted during the compile process, feel free to add or remove any comments.

For help with MadCap Flare go to Help Ribbon > Topics Section > Open Help. Alternatively visit the Flare Online Help at help.madcapsoftware.com

If you have any questions regarding how to work with this stylesheet or template project, please contact MadCap Technical Support. 
https://www.madcapsoftware.com/support/contact-options.aspx

NOTE: Generally, this stylesheet has elements listed out in the order that they appear in the topic from top to bottom. The exception are General styles which are at the top and the stylesheet mediums which are at the bottom.

EXAMPLE: Since the Topic/Banner image is at the top of the home page, it will be listed closer to the top of this stylesheet. While, the footer will be written towards the bottom. 

===========================================================================================================================================================*/

/* Home Page General Styles*/

body
{
	font-family: Arial;
	line-height: 1.5em;
}

h1
{
	font-size: 2.75em;
}

h2
{
	font-size: 1.6785em;
}

p
{
	color: #5a5a5a;
	margin-bottom: 8px;
	margin-top: 8px;
}

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

.off-canvas-content .main-section > .outer-row
{
	max-width: 100%;
	padding: 0;
}

/*==Mad Cap proxy/editor assigned styles==*/

html.home-page
{
	mc-community-features: disabled;
}

/*==Top Navigation Bar Section==*/

nav.title-bar	/*Adds bottom border on top navigation bar*/
{
	border-bottom: 1px solid #d3d3d3;
}

/*==Home Page Hero Section==*/

div.topic-hero
{
	padding-bottom: 50px;
	padding-top: 50px;
	background-color: #494C4f;
}

/*==Home Tiles section==*/

div.home-tiles-container
{
	padding-top: 60px;
	padding-bottom: 60px;
}

div.home-tiles	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-tiles > div:nth-child(1)
{
	width: 16.667%;
	margin-left: 24%;
}

div.home-tiles > div:nth-child(2)
{
	width: 16.667%;
	margin-left: 1%;
}

div.home-tiles > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 1%;
}

/*=Elements for text contained within each home-tile=*/

p.tile-title
{
	text-align: center;
	margin: 0;
}

a.home-button
{
	display: block;
	padding: 7px 10px;
	text-decoration: none;
	color: #494C4f;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border: 1px solid #494C4f;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	overflow: hidden;
}

a.home-button:hover
{
	background-color: #494C4f;
	color: #FFF;
}

/*==Info section==*/

div.info-container
{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	padding-bottom: 75px;
}

div.info-section	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.info-section::before
{
	content: ' ';
	display: table;
}

div.info-section::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.info-section > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.info-section > div:nth-child(1)
{
	width: 16.667%;
	margin-left: 20%;
}

div.info-section > div:nth-child(2)
{
	width: 16.667%;
	margin-left: 5%;
}

div.info-section > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 5%;
}

/*=Elements for content contained within each info section=*/

p.info-title
{
	line-height: 1em;
	padding-bottom: 10px;
	border-bottom: 1px solid #9c9c9c;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

p.info-content
{
	font-size: 0.9em;
}

/*==Home Page Footer==*/

div.footer
{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f7f7f7;
}

div.footer a
{
	text-decoration: none;
	color: #DADADA;
}

div.footer p	/* Complex Selector: Any <p> that is contained within div.footer will have the following properties */
{
	font-size: 0.8em;
	color: #b1b1b1;
}

div.home-master-page-footer	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

div.home-master-page-footer::before
{
	content: ' ';
	display: table;
}

div.home-master-page-footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-master-page-footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-master-page-footer > div:nth-child(1)
{
	width: 25%;
	margin-left: 0%;
}

div.home-master-page-footer > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
}

div.home-master-page-footer > div:nth-child(3)
{
	width: 25%;
	margin-left: 0%;
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1279px)
{
	div.home-tiles > div:nth-child(1)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.info-section > div
	{
		text-align: center;
	}

	div.info-section > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
		margin-top: 5%;
	}

	div.info-section > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 5%;
	}

	div.info-section > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	p.info-title
	{
		font-size: 2em;
	}

	p.info-content
	{
		font-size: 1em;
	}

	div.footer
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.home-master-page-footer > div:nth-child(1)
	{
		width: 25%;
		margin-left: 0%;
	}

	div.home-master-page-footer > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.home-master-page-footer > div:nth-child(3)
	{
		width: 25%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 767px)
{
	div.home-tiles > div
	{
		margin-top: 2%;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 90%;
		margin-left: 5%;
	}

	p.tile-title
	{
		font-size: 1.1em;
	}

	div.info-container
	{
		padding-bottom: 0;
	}

	div.info-section > div
	{
		text-align: center;
	}

	div.info-section > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
		margin-top: 5%;
	}

	div.info-section > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
	}

	div.info-section > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
	}

	p.info-title
	{
		font-size: 2em;
	}

	p.info-content
	{
		font-size: 1em;
	}

	div.home-master-page-footer > div:nth-child(1)
	{
		width: 100%;
		border-bottom: 1px solid #d3d3d3;
	}

	div.home-master-page-footer > div:nth-child(2)
	{
		width: 100%;
		border-bottom: 1px solid #d3d3d3;
	}

	div.home-master-page-footer > div:nth-child(3)
	{
		width: 100%;
	}
}

