/*<meta />*/

/*===========================================================================================================================================================

Hello! If this is your first time looking at a stylesheet within the text editor view, what you are reading right now is a "comment". Comments are added throughout this stylesheet with the purpose of making the source code easier to understand, comments will not be interpreted during the compile process. Since comments are not interpreted during the compile process, feel free to add or remove any comments.

For help with MadCap Flare go to Help Ribbon > Topics Section > Open Help. Alternatively visit the Flare Online Help at help.madcapsoftware.com

If you have any questions regarding how to work with this stylesheet or template project, please contact MadCap Technical Support.
https://www.madcapsoftware.com/support/contact-options.aspx

NOTE: Generally, this stylesheet has elements listed out in the order that they appear in the topic from top to bottom. The exception are General styles which are at the top and the stylesheet mediums which are at the bottom.

EXAMPLE: Since the Topic/Banner image is at the top of the home page, it will be listed closer to the top of this stylesheet. While, the footer will be written towards the bottom.

===========================================================================================================================================================*/

/* Home Page General Styles*/

@font-face 
{
	font-family: 'replica-regular';
	src: url(../fonts/replica-regular.ttf);
}

@font-face 
{
	font-family: 'replica-bold';
	src: url(../fonts/replica-bold.ttf);
}

@font-face 
{
	font-family: 'replicaprolight';
	src: url(../fonts/replicaprolight.otf);
}

body
{
	font-family: 'replica-regular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

h1
{
	font-family: 'replica-bold', Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.8px;
	color: #ffffff;
}

h2
{
	font-family: 'replicaprolight', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 0.7px;
	color: #ffffff;
}

p
{
	color: #5a5a5a;
	margin-bottom: 8px;
	margin-top: 8px;
}

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

.off-canvas-content .main-section > .outer-row
{
	max-width: 100%;
	padding: 0;
}

/*==Mad Cap proxy/editor assigned styles==*/

html.home-page
{
	mc-community-features: disabled;
}

/*==Top Navigation Bar Section==*/

nav.title-bar	/*Adds bottom border on top navigation bar*/
{
	border-bottom: 1px solid #d3d3d3;
}

/*==Home Page Hero Section==*/

div.topic-hero
{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #0063B4;
}

/*==Home Tiles section==*/

div.home-tiles-container
{
	padding-top: 60px;
	padding-bottom: 60px;
	background: #fff;
}

div.home-tiles	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0px;
}

div.home-tiles > div:nth-child(1)
{
	width: 16.667%;
	margin-left: 24%;
}

div.home-tiles > div:nth-child(2)
{
	width: 16.667%;
	margin-left: 1%;
}

div.home-tiles > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 1%;
}

/*=Elements for text contained within each home-tile=*/

p.tile-title
{
	text-align: left;
	margin: 0;
}

a.home-button
{
	display: block;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 0.8px;
	color: #758599;
	border-radius: 4px;
	padding-top: 14px;
	padding-bottom: 30px;
	padding-left: 13px;
	padding-right: 11.5px;
	overflow: hidden;
	background-color: #f5f6f8;
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}

.tile-title a.home-button
{
	background-size: 50px 50px;
}

a.home-button:hover
{
	box-shadow: 0 2px 18px 0 #c7c9cb;
	color: #383838;
}

a.home-button-red
{
	display: inline-block;
	align-items: center;
	justify-content: center;
	padding: 7px 10px;
	text-decoration: none;
	color: #FFF;
	border-radius: 1px;
	padding-top: 44px;
	padding-bottom: 136px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	overflow: hidden;
	background-color: #e05c1a;
	cursor: pointer;
	font-size: 18px;
	line-height: 26px;
	border: 1px solid transparent;
}

a.home-button-red:hover
{
	background-color: #fff;
	color: #e05c1a;
	border: 1px solid #e05c1a;
}

.image-about
{
	background-image: url('../icons/home-page/1/about-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-about:hover
{
	background-image: url('../icons/home-page/1/about-color.svg');
}

.image-getstarted
{
	background-image: url('../icons/home-page/2/get-started-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-getstarted:hover
{
	background-image: url('../icons/home-page/2/get-started-color.svg');
}

.image-features
{
	background-image: url('../icons/home-page/3/features-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-features:hover
{
	background-image: url('../icons/home-page/3/features-color.svg');
}

.image-frontend
{
	background-image: url('../icons/home-page/5/front-end-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-frontend:hover
{
	background-image: url('../icons/home-page/5/front-end-color.svg');
}

.image-admin
{
	background-image: url('../icons/home-page/6/administration-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-admin:hover
{
	background-image: url('../icons/home-page/6/administration-color.svg');
}

.image-integration
{
	background-image: url('../icons/home-page/7/integration-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-integration:hover
{
	background-image: url('../icons/home-page/7/integration-color-1.svg');
}

.image-certification
{
	background-image: url('../icons/home-page/8/certification-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-certification:hover
{
	background-image: url('../icons/home-page/8/certification-color.svg');
}

.image-tutorial
{
	background-image: url('../icons/home-page/9/tutorial-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-tutorial:hover
{
	background-image: url('../icons/home-page/9/tutorial-color.svg');
}

.image-partners
{
	background-image: url('../icons/home-page/10/partners-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-partners:hover
{
	background-image: url('../icons/home-page/10/partners-color.svg');
}

.image-forum
{
	background-image: url('../icons/home-page/11/forum-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-forum:hover
{
	background-image: url('../icons/home-page/11/forum-color.svg');
}

.image-suggest
{
	background-image: url('../icons/home-page/12/suggest-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-suggest:hover
{
	background-image: url('../icons/home-page/12/suggest-color.svg');
}

.image-roadmap
{
	background-image: url('../icons/home-page/4/roadmap-grey.svg');
	background-position: 85% center;
	background-repeat: no-repeat;
}

.image-roadmap:hover
{
	background-image: url('../icons/home-page/4/roadmap-color.svg');
}

/*==Info section==*/

div.info-container
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 75px;
	background: #EB553C;
}

div.info-section	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
}

div.info-section::before
{
	content: ' ';
	display: table;
}

div.info-section::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.info-section > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.info-section > div:nth-child(1)
{
	width: 16.667%;
	margin-left: 20%;
}

div.info-section > div:nth-child(2)
{
	width: 16.667%;
	margin-left: 5%;
}

div.info-section > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 5%;
}

/*=Elements for content contained within each info section=*/

p.info-title
{
	line-height: 2em;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

td.info-title
{
	font-family: 'replicaprolight';
	line-height: 32px;
	padding-bottom: 5px;
	font-size: 28px;
	font-weight: normal;
	text-align: left;
	color: #ffffff;
}

p.info-content
{
	font-size: 0.9em;
}

/*==Home Page Footer==*/

div.footer
{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f7f7f7;
}

div.footer a
{
	text-decoration: none;
	color: #DADADA;
}

div.footer p	/* Complex Selector: Any <p> that is contained within div.footer will have the following properties */
{
	font-size: 0.8em;
	color: #b1b1b1;
}

div.home-master-page-footer	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

div.home-master-page-footer::before
{
	content: ' ';
	display: table;
}

div.home-master-page-footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-master-page-footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-master-page-footer > div:nth-child(1)
{
	width: 25%;
	margin-left: 0%;
}

div.home-master-page-footer > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
}

div.home-master-page-footer > div:nth-child(3)
{
	width: 25%;
	margin-left: 0%;
}

div.topic-welcome
{
	height: 245px;
	padding-bottom: 40px;
	padding-top: 20px;
	background-image: url('../icons/header-spryker-documentation.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
}

.image-welcome
{
	background-image: url('../icons/home-page/pic.png');
	background-position: 85% 10%;
	background-repeat: no-repeat;
}

.link-style
{
	color: #0B67AF;
	text-decoration: none;
}

.link-style:hover
{
	text-decoration: underline;
}

.link-style:visited
{
	color: #232B99;
	text-decoration: none;
}

div.home-tiles > div:nth-child(4)
{
	width: 8.3333%;
	margin-left: 0%;
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1279px)
{
	div.topic-welcome
	{
		height: 340px;
	}

	h1
	{
		font-size: 36px;
	}

	h2
	{
		font-size: 18px;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.info-section > div
	{
		text-align: center;
	}

	div.info-section > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
		margin-top: 5%;
	}

	div.info-section > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 5%;
	}

	div.info-section > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	p.info-title
	{
		font-size: 2em;
	}

	p.info-content
	{
		font-size: 1em;
	}

	div.footer
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.home-master-page-footer > div:nth-child(1)
	{
		width: 25%;
		margin-left: 0%;
	}

	div.home-master-page-footer > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.home-master-page-footer > div:nth-child(3)
	{
		width: 25%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 767px)
{
	div.home-tiles > div
	{
		margin-top: 2%;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 90%;
		margin-left: 5%;
	}

	p.tile-title
	{
		font-size: 1.1em;
	}

	div.info-container
	{
		padding-bottom: 0;
	}

	div.info-section > div
	{
		text-align: center;
	}

	div.info-section > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
		margin-top: 5%;
	}

	div.info-section > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
	}

	div.info-section > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
	}

	p.info-title
	{
		font-size: 2em;
	}

	p.info-content
	{
		font-size: 1em;
	}

	div.home-master-page-footer > div:nth-child(1)
	{
		width: 100%;
		border-bottom: 1px solid #d3d3d3;
	}

	div.home-master-page-footer > div:nth-child(2)
	{
		width: 100%;
		border-bottom: 1px solid #d3d3d3;
	}

	div.home-master-page-footer > div:nth-child(3)
	{
		width: 100%;
	}

	div.home-tiles > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}
}

.scroll-top
{
	display: none;
	position: fixed;
	width: 41px;
	height: 41px;
	background-color: #b1bbc7;
	right: 30px;
	bottom: 36px;
	border-radius: 100%;
	color: white;
	text-align: center;
	z-index: 30;
}

.scroll-top svg
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.a-anchor
{
	text-decoration: inherit;
	color: inherit !important;
	position: relative;
}

.a-anchor::after
{
	font-weight: 300;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
	content: '#';
	display: inline-block;
	margin-left: .5ch;
	color: #D8D8D8;
}

.a-anchor:hover
{
	text-decoration: inherit;
	text-decoration: inherit;
	color: inherit;
	font-weight: unset;
	letter-spacing: unset;
}

.a-anchor:hover::after
{
	pointer-events: all;
	visibility: visible;
	opacity: 1;
}

.a-anchor__target
{
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	position: absolute;
}

ul.navigation .has-children > .sub-menu.ps
{
	max-height: 50vh !important;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y
{
	left: 4px !important;
}

.ps__thumb-y
{
	background-color: #28bea1;
	right: 1px;
}

.ps__rail-y
{
	width: 8px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y
{
	background-color: #28bea1;
	width: 6px;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y
{
	background: white;
}

/*Home page redesign and responsive*/

.topic-welcome.image-welcome
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.mc-wrapper-outer .mc-wrapper
{
	margin: 0 auto;
}

.mc-wrapper .mc-viewport.MCSlider
{
	background: #f5f6f8;
	border: none;
	padding: 60px 0;
	margin: 0;
	box-shadow: none;
}

.mc-wrapper .mc-controls .mc-pager
{
	bottom: 15px;
}

div.home-tiles-container
{
	margin: 0 5px;
}

div.home-tiles
{
	max-width: 960px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

div.home-tiles > div
{
	float: none;
	width: unset !important;
	flex: 1;
	margin: 5px !important;
}

.search-bar._Skins_SearchHome.mc-component .search-field
{
	border: none;
	box-shadow: 0 2px 13px 0 rgba(200, 200, 200, 0.5);
	padding-left: 20px;
}

.search-bar._Skins_SearchHome.mc-component .search-submit
{
	border: none;
}

div.home-tiles:after,
div.home-tiles:before
{
	display: none;
}

.mc-wrapper .mc-pager.mc-default-pager a
{
	background: #b1bbc7;
}

.mc-wrapper .mc-pager.mc-default-pager a.active,
.mc-wrapper .mc-pager.mc-default-pager a:hover
{
	background: #ea5340;
}

.aside-close-button
{
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	top: 30px;
	right: 30px;
	background: url('../icons/close-icon.svg') center no-repeat;
	background-size: contain;
}

.search-toggle-button
{
	display: none;
}

.js-off-canvas-exit:hover
{
	background: rgba(254, 254, 254, 0.25);
}

/*Tablet*/

@media only screen and (max-width: 992px)
{
	/*burger icon*/

	nav.title-bar .menu-icon
	{
		right: 0;
	}

	.title-bar .menu-icon span
	{
		height: 40px;
		width: 30px;
		display: block;
		background: transparent url('../icons/menu-burger.svg') no-repeat center center;
		background-size: cover;
	}

	/*overlay*/

	.js-off-canvas-exit
	{
		box-shadow: none;
		opacity: 0.33;
		background-color: #0c0c0c;
	}

	/*side menu */

	.off-canvas
	{
		background: white;
	}

	.is-drilldown-submenu-parent > a
	{
		position: relative;
	}

	.is-drilldown-submenu-parent > a::after,
	.js-drilldown-back > a::after
	{
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 6px;
		height: 11px;
		background: url('../icons/chevron-right.svg') center no-repeat;
		background-size: contain;
	}

	.js-drilldown-back > a::after
	{
		background: url('../icons/chevron-back-green.svg') center no-repeat;
		background-size: contain;
	}

	.off-canvas.position-right
	{
		padding-top: 118px;
	}

	.off-canvas ul ul
	{
		background: white;
	}

	ul.off-canvas-list ul ul > li > a:hover,
	ul.off-canvas-list ul > li > a:hover
	{
		background: none;
	}

	ul.off-canvas-list li.js-drilldown-back
	{
		position: relative;
		background: #eef0f1;
	}

	ul.off-canvas-list li.js-drilldown-back > a
	{
		color: black !important;
		padding-left: 20px;
	}

	ul.off-canvas-list li.js-drilldown-back > a::after
	{
		width: 10px;
		height: 20px;
		left: 0;
	}

	.is-drilldown-submenu.slide-in-right.is-active
	{
		padding-top: 118px;
	}

	ul.off-canvas-list li.js-drilldown-back > a:hover
	{
		background: none !important;
	}

	ul.off-canvas-list li
	{
		padding: 0 30px 0 16px;
	}

	ul.off-canvas-list li:first-child > a
	{
		border-top: 1px solid #eef0f1;
	}

	ul.off-canvas-list li a
	{
		color: #758599 !important;
		padding: 13px 0;
		font-weight: bold;
		letter-spacing: 0.5px;
		line-height: 1.38;
		border-bottom: 1px solid #eef0f1;
	}

	ul.off-canvas-list li a:hover
	{
		background: none;
	}
}

/* Mobile */

@media screen and (max-width: 767px)
{
	div.home-tiles
	{
		flex-wrap: wrap;
	}

	div.home-tiles > div
	{
		width: 100% !important;
		flex: unset;
	}

	.main-section .search
	{
		visibility: hidden;
		top: -290px;
		transition: opacity 0.4s ease-in-out;
		opacity: 0;
		z-index: 99;
	}

	.main-section .search.is-visible
	{
		visibility: visible;
		opacity: 1;
	}

	.search-toggle-overlay
	{
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.4s ease-in-out;
	}

	.search-toggle-overlay.active
	{
		visibility: visible;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		opacity: 0.46;
		background-color: #101010;
	}

	.search-toggle-button
	{
		display: block;
		width: 30px;
		height: 30px;
		background: url('../icons/search.svg') center no-repeat;
		background-size: contain;
		position: absolute;
		right: 65px;
		top: 50%;
		transform: translateY(-50%);
	}

	div.home-tiles-container
	{
		padding-top: 0;
	}
}

/*Footer links fix*/

a.footer-link
{
	display: inline-block;
	cursor: pointer;
}

/* Home page slider*/

.slider-home-page
{
	background: #f5f6f8;
	padding: 40px 0 20px;
}

.slider-home-page iframe
{
	display: block;
	margin: 0 auto;
	width: 600px;
	height: 345px;
}

ul.slick-dots
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.slick-dots button
{
	font-size: 0;
	border: 0;
	background: #b1bbc7;
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	padding: 0;
}

.slick-active button
{
	background: #ea5340;
}

.slick-arrow
{
	position: absolute;
	left: 10px;
	top: 50%;
	z-index: 10;
	transform: translate(0, -50%);
	font-size: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.slick-arrow::after
{
	content: '';
	display: block;
	background: url('../icons/right-chevron.svg') center no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(180deg);
	opacity: .8;
}

.slick-next.slick-arrow
{
	right: 10px;
	left: unset;
}

.slick-next.slick-arrow::after
{
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px)
{
	.slider-home-page iframe
	{
		width: 100%;
	}
}

@media screen and (max-width: 420px)
{
	.slider-home-page iframe
	{
		height: 240px;
	}
}

/*home page upates ac-376*/

.title-bar-layout a.logo
{
	background-size: contain;
	height: 67px;
}

.menu-icon-container
{
	min-height: 67px;
}

.title-bar-layout .logo-wrapper
{
	min-height: 67px;
}

/*Header mobile collapse*/
/*Header mobile collapse*/
/*@media screen and (max-width: 767px){*/
/*.sticky-container.scrolled-down {*/
/*transform: translate(0, -100%);*/
/*}*/
/*.sticky-container {*/
/*transition: transform .5s ease-in-out;*/
/*position: fixed;*/
/*top: 0;*/
/*width: 100%;*/
/*}*/
/*.off-canvas-content {*/
/*padding-top: 85px;*/
/*}*/
/*}*/
/*AC-404 Add icon to "Open in new tab" link*/

.info-container a[target="_blank"]
{
	display: inline-block;
	padding-right: 20px;
	position: relative;
	background-image: url('../icons/new-tab-new-icon.svg');
	background-position: 98% 5px;
	background-size: 13px 13px;
	background-repeat: no-repeat;
}

.info-container a:visited[target="_blank"]
{
	background-image: url('../icons/new-tab-used-icon.svg');
}

/*AC-426
Remove arrows from top nav*/

ul.navigation ul > li.has-children > a:after
{
	display: none;
}

ul.navigation ul ul
{
	top: -10px;
}

