<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="" MadCap:conditions="Spryker.DemoShop,Spryker.B2C" description="Add Econda Tracking code to your Spryker project.">
    <head>
        <link href="../../../Resources/TableStyles/PatternedRows2.css" rel="stylesheet" MadCap:stylesheetType="table" /><title>Econda - Tracking | Spryker</title>
        <meta name="description" content="Add Econda tracking code to your Spryker project." />
    </head>
    <body>
        <h1>Econda - Tracking <img src="../../../Resources/Images/shoptype/B2C_Shop.png" /> <img src="../../../Resources/Images/shoptype/Demoshop.png" /></h1>
        <p>Now that we have integrated Econda to the website we can start adding the tracking code.</p>
        <h2>Prerequisites
</h2>
        <p>To add tracking, you should also be familiar with <a href="http://documentation.spryker.com/front-end_developer_guide/demoshop/twig_templates/twig-overview.htm">Twig.</a></p>
        <p>To enable Econda tracking for your application, you need to add <var>econda_tracker.twig</var> to the proper page template, for example:<pre><code class="language-php line-numbers">'content': '/catalog/' ~ ((category is not null) ? category.name ~ '/' : '') ~ product.name,
'product': product,
'category': category
} %}</code></pre></p>
        <p MadCap:conditions="General.Draft,General.OldOutdated">To enable Econda tracking for your application, you need to download a personalized JavaScript library from the econda Analytics Configuration menu (you can find detailed instructions on this on <a href="https://support.econda.de/display/MONDE/Tracking-Bibliothek+herunterladen" target="_blank">https://support.econda.de/display/MONDE/Tracking-Bibliothek+herunterladen</a>).

</p>
        <p MadCap:conditions="General.Draft,General.OldOutdated">These instructions assume  you are using <a href="http://documentation.spryker.com/front-end_developer_guide/demoshop/antelope_global_tool/overview.htm">Antelope</a> for your Yves assets management. If your project uses other frontend automation you can still use the instructions as guidelines. </p>
        <p MadCap:conditions="General.Draft,General.OldOutdated">Before getting started we recomend that you read the following topics:&#160;<a href="https://documentation.spryker.com/front-end_developer_guide/demoshop/antelope_global_tool/asset-management-overview.htm">asset management</a>
and <a href="http://documentation.spryker.com/front-end_developer_guide/demoshop/twig_templates/twig-overview.htm">Twig</a></p>
        <h2 MadCap:conditions="General.Draft,General.OldOutdated">Installing Assets</h2>
        <p MadCap:conditions="General.Draft,General.OldOutdated">After  successfully downloading the <var>emos.js</var> you need to register it in Yves. One way is to create an econda folder in <var>assets/Yves/&lt;themeName&gt;</var> folder and to copy it to SDK folder (look at picture below)

Now you add an entry point for loading econda specific JS by adding <var>econda.js</var> file in Econda folder.

</p>
        <p MadCap:conditions="General.Draft,General.OldOutdated">
            <img src="../../../Resources/Images/Econda/econda-1.png" /><![CDATA[
]]></p>
        <p MadCap:conditions="General.Draft,General.OldOutdated">Now you need to add a require line:

</p><pre MadCap:conditions="General.Draft,General.OldOutdated"><code class="bash">require('./sdk/emos2'); //make double check the path to emos2.js</code></pre>
        <p MadCap:conditions="General.Draft,General.OldOutdated">Now we need to add our new econda module to <var>entry.js</var></p>
        <p MadCap:conditions="General.Draft,General.OldOutdated">
            <img src="../../../Resources/Images/Econda/econda-2.png" class="Thumbnail" /><![CDATA[
]]></p>
        <p MadCap:conditions="General.Draft,General.OldOutdated">by adding a line
</p><pre MadCap:conditions="General.Draft,General.OldOutdated"><code class="bash">require('js/econda/econda');</code></pre>
        <h2 MadCap:conditions="General.Draft,General.OldOutdated">Integration</h2>
        <p MadCap:conditions="General.OldOutdated,General.Draft">Tracking is highly customizable and it depends on your setup. Please refer to <a href="https://support.econda.de/display/INDE">econda official documentation</a>.

</p>
        <p MadCap:conditions="General.OldOutdated,General.Draft">Here is a sample <var>econda-tracking.js</var> you can use as a help to integrate tracking to your website:
</p>
        <MadCap:dropDown MadCap:conditions="General.Draft,General.OldOutdated">
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Sample econda-tracking.js</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody><pre><code class="language-php line-numbers">'use strict';

var $ = require('jquery');

module.exports = {
   init: function () {
       window.emosTrackVersion = 2; //version of tracking lib that you are using
       var hashCode = function(str){
           var hash = 0, char;
           if (str.length == 0) return hash;
           for (i = 0; i &lt; str.length; i++) {
               char = str.charCodeAt(i);
               hash = ((hash&lt;&lt;5)-hash)+char;
               hash = hash &amp; hash; // Convert to 32bit integer
           }
           if (hash &lt; 0) {hash = -hash;}
           return "" + hash;
       };

       var emospro = {
           siteid: window.econda_siteid,
           content: window.econda_tracking_content,
           langid: $("html").prop("lang"),
           pageId: hashCode(window.location.href)
       };

       if (window.econda_search_query_string) {
           emospro.search = [window.econda_search_query_string, window.econda_search_number_results];
       }

       if (window.econda_register_result) {
           emospro.register = [window.econda_register_result, 0];
       } else if (window.econda_register_result == false) {
           emospro.register = [0, 1];
       }

       if (window.econda_login_result) {
           emospro.login = [window.econda_login_result, 0];
       } else if (window.econda_login_result == false) {
           emospro.login = [0, 1];
       }

       if (window.econda_newsletter_subscription) {
           emospro.Target =  ['newsletter', 'Default newsletter subscription', 1, 'd'];
       }

       if (window.econda_product_name) {
           emospro.ec_Event = [
               {
                   type: 'view' ,
                   pid: window.econda_product_sku,
                   sku: window.econda_product_sku,
                   name: window.econda_product_name,
                   price: window.econda_product_price,
                   group: window.econda_category_name,
                   count: 1
               }
           ];
       }

       if (window.econda_billing_order_value) {
           emospro.billing = [
               window.econda_billing_invoice_number,
               econda_billing_customer_id,
               econda_billing_location,
               econda_billing_order_value
           ];
       }

       if (window.econda_order_process) {
           emospro.orderProcess = window.econda_order_process;
       }

       if (window.econda_bought_product_name &amp;&amp; window.econda_bought_product_name.length &gt; 0) {
           emospro.ec_Event = [];
           for (var i = 0, len = econda_bought_product_name.length; i &lt; len; i++) {
               emospro.ec_Event.push({
                   type: 'buy' ,
                   pid: window.econda_bought_product_sku[i],
                   sku: window.econda_bought_product_sku[i],
                   name: window.econda_bought_product_name[i],
                   price: window.econda_bought_product_price[i],
                   count: window.econda_bought_product_count[i]
               });
           }
       }

       window.emosPropertiesEvent(emospro);
       //console.log('econda tracking sent:');
       //console.log(emospro);
   }
};</code></pre>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <p MadCap:conditions="General.OldOutdated,General.Draft">Now you need to register your tracking module in econda.js by adding

</p><pre xml:space="preserve" MadCap:conditions="General.OldOutdated,General.Draft"><code class="bash">var econdaTracking = require('./econda-tracking');
econdaTracking.init();</code></pre>
        <p xml:space="preserve" MadCap:conditions="General.OldOutdated,General.Draft">to <var>econda.js</var>.
        </p>
        <h2 MadCap:conditions="General.OldOutdated,General.Draft">Adding a Tracking Code to Twig</h2>
        <p MadCap:conditions="General.OldOutdated,General.Draft">The econda module comes with a partial twig template <code style="language-twig">econda_tracker.twig</code> that you can use as an example in your project.
</p>
        <MadCap:dropDown MadCap:conditions="General.OldOutdated,General.Draft">
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Twig Template</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody><pre><code class="language-php line-numbers">&lt;input type="hidden" name="econda_tracking_content" value="{{ content }}"&gt;
{% if query is defined %}
   &lt;input type="hidden" name="econda_search_query_string" value="{{ query }}"&gt;
{% endif %}

{% if number is defined %}
   &lt;input type="hidden" name="econda_search_number_results" value="{{ number }}"&gt;
{% endif %}
{% if product is defined %}
   &lt;input type="hidden" name="econda_product_name" value="{{ product.name }}"&gt;
   &lt;input type="hidden" name="econda_product_sku" value="{{ product.sku }}"&gt;
   &lt;input type="hidden" name="econda_product_price" value="{{ product.price / 100 }}"&gt;
{% endif %}
{% if category is defined %}
   &lt;input type="hidden" name="econda_category_name" value="{{ category.name }}"&gt;
{% endif %}

{% if invoiceNumber is defined %}
   &lt;input type="hidden" name="econda_billing_invoice_number" value="{{ invoiceNumber }}"&gt;
{% endif %}

{% if location is defined %}
   &lt;input type="hidden" name="econda_billing_location" value="{{ location }}"&gt;
{% endif %}

{% if customerId is defined %}
   &lt;input type="hidden" name="econda_billing_customer_id" value="{{ customerId }}"&gt;
{% endif %}

{% if orderValue is defined %}
   &lt;input type="hidden" name="econda_billing_order_value" value="{{ orderValue }}"&gt;
{% endif %}

{% if orderProcess is defined %}
   &lt;input type="hidden" name="econda_order_process" value="{{ orderProcess }}"&gt;
{% endif %}

{%  if items is defined %}
   {% for item in items %}
       &lt;input type="hidden" name="econda_bought_product_name[]" value="{{ item.name }}"&gt;
       {#&lt;input type="hidden" name="econda_bought_product_sku[]" value="{{ item.abstractSku }}"&gt;#}
       &lt;input type="hidden" name="econda_bought_product_sku[]" value="{{ item.sku }}"&gt;
       &lt;input type="hidden" name="econda_bought_product_price[]" value="{{ item.unitGrossPrice / 100 }}"&gt;
       &lt;input type="hidden" name="econda_bought_product_count[]" value="{{ item.quantity }}"&gt;
   {% endfor %}
{%  endif %}

{% for econda_register_result in app.session.flashbag.get('flash.vars.register') %}
   &lt;input type="hidden" name="econda_user_register_result" value="{{ econda_register_result }}"&gt;
{% endfor %}

{% for econda_login_result in app.session.flashbag.get('flash.vars.login') %}
   &lt;input type="hidden" name="econda_login_result" value="{{ econda_login_result }}"&gt;
{% endfor %}

{% for econda_newsletter_subscription_result in app.session.flashbag.get('flash.vars.newsletter.subscription') %}
   &lt;input type="hidden" name="econda_newsletter_subscription_result" value="{{ econda_newsletter_subscription_result }}"&gt;
{% endfor %}</code></pre>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <p MadCap:conditions="General.Draft,General.OldOutdated">List of accepted template variables:
</p>
        <table class="TableStyle-PatternedRows2" style="mc-table-style: url('../../../Resources/TableStyles/PatternedRows2.css');" cellspacing="0" MadCap:conditions="General.OldOutdated,General.Draft">
            <col class="TableStyle-PatternedRows2-Column-Regular">
            </col>
            <col class="TableStyle-PatternedRows2-Column-Regular">
            </col>
            <col class="TableStyle-PatternedRows2-Column-Regular">
            </col>
            <thead>
                <tr class="TableStyle-PatternedRows2-Head-Header1">
                    <th class="TableStyle-PatternedRows2-HeadE-Regular-Header1">Name	</th>
                    <th class="TableStyle-PatternedRows2-HeadE-Regular-Header1">Description	</th>
                    <th class="TableStyle-PatternedRows2-HeadD-Regular-Header1">Notes
</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-PatternedRows2-Body-LightRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>content	</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>Path of the current page, as displayed in econda Monitor. Use slashes (“/”) to separate path components for drill-down analysis.</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-LightRows">
                        <p>Translated into <a href="https://support.econda.de/display/INEN/Content" target="_blank">CONTENTLABEL</a> parameter</p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-DarkerRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-DarkerRows">
                        <p>query	</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-DarkerRows">
                        <p>Search query (could be passed to the search results page template)</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-DarkerRows">
                        <p>Translated into <a href="https://support.econda.de/display/INEN/Internal+Search" target="_blank">QUERY</a> parameter
</p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-LightRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>number	</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>Number of results returned by the search query (can be passed to the search results page template)	</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-LightRows">
                        <p>Translated into <a href="https://support.econda.de/display/INEN/Internal+Search" target="_blank">NUMBEROFHITS</a> parameter</p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-DarkerRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-DarkerRows">
                        <p>product	</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-DarkerRows">
                        <p>Associative array representing product data (can be passed to the product page template). Accepted keys: <var>abstract_name</var>, <var>abstractSku</var>, <var>price</var></p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-DarkerRows">
                        <p><a href="https://support.econda.de/display/INEN/Product+Information" target="_blank">Product Information</a>
                        </p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-LightRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>category	</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>Associative array representing category (can be passed to the product page template). Accepted keys: <var>name</var></p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-LightRows">
                        <p><a href="https://support.econda.de/display/INEN/Product+Information" target="_blank">Product Information</a>
                        </p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-DarkerRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-DarkerRows">
                        <p><var>invoiceNumber</var>
                        </p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-DarkerRows">
                        <p>Order number (can be passed to the checkout success template)</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-DarkerRows">
                        <p>Translated into <a href="https://support.econda.de/display/INEN/Purchases" target="_blank">INVOICENUMBER</a> parameter</p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-LightRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>location</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>Customer address (can be passed to the checkout success template)</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-LightRows">
                        <p>Translated into <a href="https://support.econda.de/display/INEN/Purchases" target="_blank">LOCATION</a> parameter
</p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-DarkerRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-DarkerRows">
                        <p><var>customerId</var>
                        </p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-DarkerRows">
                        <p>Customer ID (can be passed to the checkout success template)	</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-DarkerRows">
                        <p>Translated into <a href="https://support.econda.de/display/INEN/Purchases" target="_blank">CUSTOMERID</a> parameter</p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-LightRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p><var>orderValue</var>
                        </p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>Total order value (can be passed to the checkout success template)</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-LightRows">
                        <p>Translated into <a href="https://support.econda.de/display/INEN/Purchases" target="_blank">ORDERVALUE</a> parameter
</p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-DarkerRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-DarkerRows">
                        <p><var>orderProcess</var>
                        </p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-DarkerRows">
                        <p>Checkout step name</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-DarkerRows">
                        <p>Translated into <a href="https://support.econda.de/display/INEN/Checkout" target="_blank">STEPNAME</a> parameter</p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-LightRows">
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>items</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyE-Regular-LightRows">
                        <p>Associative array representing cart items (can be passed to the checkout success template)</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyD-Regular-LightRows">
                        <p>Link</p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows2-Body-DarkerRows">
                    <td class="TableStyle-PatternedRows2-BodyB-Regular-DarkerRows">
                        <p><var>flash.vars</var>
                        </p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyB-Regular-DarkerRows">
                        <p>Associative array representing intermittent data. Accepted keys: ‘register’, ‘login’, ‘newsletter.subscription’	</p>
                    </td>
                    <td class="TableStyle-PatternedRows2-BodyA-Regular-DarkerRows">
                        <p>&#160;</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="tip" MadCap:conditions="General.Draft,General.OldOutdated">Remember to build your frontend  by running <var>antelope build yves</var> from your project root folder</p>
        <p MadCap:conditions="General.Draft,General.OldOutdated">

In your project you will probably want to customize the tracking to fit the business requirements either by writing your own partial template or by overriding and extending the existing one, see <a href="http://documentation.spryker.com/front-end_developer_guide/demoshop/twig_templates/twig-best-practices.htm">Best Practices - Twig Templates.</a></p>
        <h3>Checking Your Setup
</h3>
        <p>If your setup is correct you should see outgoing request going to Econda in browser developer tools when you navigate to a page that has tracing code included.</p>
        <p>&#160;</p>
        <p><strong>See also:</strong>
        </p>
        <ul>
            <li><a href="econda.htm">General information about Econda</a>
            </li>
            <li><![CDATA[
                ]]><a href="econda-cross-sell.htm">Cross Sell - Econda</a><![CDATA[
            ]]></li>
            <li><![CDATA[
               ]]><a href="econda-export-csvs.htm">Exporting CSVs to Econda</a><![CDATA[
            ]]></li>
        </ul>
        <p>&#160;</p>
        <p><i>Last review date: Jul. 12th, 2018 </i>
            <MadCap:conditionalText MadCap:conditions="General.Hidden Comment"><i>by Ivan Pugach</i>
            </MadCap:conditionalText>
        </p>
    </body>
</html>