/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: KBTable2;
	background-color: #bed230;
	border-collapse: separate;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
	border-top-style: none;
	border-top-width: 1px;
	border-bottom-color: #bed230;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-top-color: #bed230;
	max-id: 4;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: ColumnBlue;
	id: 0;
	type: Automatic;
	separator-color: #ffffff;
	background-color: #0b6ab7;
	color: #ffffff;
	font-weight: bold;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: ColumnGrey;
	background-color: #ebeef1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	color: #808080;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	name: Body1;
	id: 1;
	separator-color: #ffffff;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */

.TableStyle-KBTable2
{
	border-collapse: separate;
	overflow: hidden;
	background-color: #bed230;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #bed230;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #bed230;
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-KBTable2-Column-ColumnBlue
{

}

.TableStyle-KBTable2-Column-ColumnGrey
{

}

.TableStyle-KBTable2-HeadI-ColumnBlue-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-HeadI-ColumnBlue- p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-HeadE-ColumnBlue-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-HeadE-ColumnBlue- p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-HeadF-ColumnBlue-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-HeadF-ColumnBlue- p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-HeadH-ColumnBlue-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-HeadH-ColumnBlue- p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-HeadD-ColumnBlue-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-HeadD-ColumnBlue- p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-HeadC-ColumnBlue-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-HeadC-ColumnBlue- p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-HeadB-ColumnBlue-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-HeadB-ColumnBlue- p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-HeadA-ColumnBlue-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-HeadA-ColumnBlue- p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-HeadG-ColumnBlue-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-HeadG-ColumnBlue- p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-HeadI-ColumnGrey-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-HeadI-ColumnGrey- p
{
	color: #808080;
}

.TableStyle-KBTable2-HeadE-ColumnGrey-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-HeadE-ColumnGrey- p
{
	color: #808080;
}

.TableStyle-KBTable2-HeadF-ColumnGrey-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-HeadF-ColumnGrey- p
{
	color: #808080;
}

.TableStyle-KBTable2-HeadH-ColumnGrey-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-HeadH-ColumnGrey- p
{
	color: #808080;
}

.TableStyle-KBTable2-HeadD-ColumnGrey-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-HeadD-ColumnGrey- p
{
	color: #808080;
}

.TableStyle-KBTable2-HeadC-ColumnGrey-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-HeadC-ColumnGrey- p
{
	color: #808080;
}

.TableStyle-KBTable2-HeadB-ColumnGrey-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-HeadB-ColumnGrey- p
{
	color: #808080;
}

.TableStyle-KBTable2-HeadA-ColumnGrey-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-HeadA-ColumnGrey- p
{
	color: #808080;
}

.TableStyle-KBTable2-HeadG-ColumnGrey-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-HeadG-ColumnGrey- p
{
	color: #808080;
}

.TableStyle-KBTable2-Foot-Footer1
{

}

.TableStyle-KBTable2-FootI-ColumnBlue-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-FootI-ColumnBlue-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-FootE-ColumnBlue-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-style: none;
}

.TableStyle-KBTable2-FootE-ColumnBlue-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-FootF-ColumnBlue-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-top-width: 1px;
	border-top-style: none;
}

.TableStyle-KBTable2-FootF-ColumnBlue-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-FootH-ColumnBlue-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-FootH-ColumnBlue-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-FootD-ColumnBlue-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-top-width: 1px;
	border-top-style: none;
}

.TableStyle-KBTable2-FootD-ColumnBlue-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-FootC-ColumnBlue-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-FootC-ColumnBlue-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-FootB-ColumnBlue-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-FootB-ColumnBlue-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-FootA-ColumnBlue-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-FootA-ColumnBlue-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-FootG-ColumnBlue-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-FootG-ColumnBlue-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-FootI-ColumnGrey-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-FootI-ColumnGrey-Footer1 p
{
	color: #808080;
}

.TableStyle-KBTable2-FootE-ColumnGrey-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-style: none;
}

.TableStyle-KBTable2-FootE-ColumnGrey-Footer1 p
{
	color: #808080;
}

.TableStyle-KBTable2-FootF-ColumnGrey-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
	border-top-width: 1px;
	border-top-style: none;
}

.TableStyle-KBTable2-FootF-ColumnGrey-Footer1 p
{
	color: #808080;
}

.TableStyle-KBTable2-FootH-ColumnGrey-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-FootH-ColumnGrey-Footer1 p
{
	color: #808080;
}

.TableStyle-KBTable2-FootD-ColumnGrey-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
	border-top-width: 1px;
	border-top-style: none;
}

.TableStyle-KBTable2-FootD-ColumnGrey-Footer1 p
{
	color: #808080;
}

.TableStyle-KBTable2-FootC-ColumnGrey-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-FootC-ColumnGrey-Footer1 p
{
	color: #808080;
}

.TableStyle-KBTable2-FootB-ColumnGrey-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-FootB-ColumnGrey-Footer1 p
{
	color: #808080;
}

.TableStyle-KBTable2-FootA-ColumnGrey-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-FootA-ColumnGrey-Footer1 p
{
	color: #808080;
}

.TableStyle-KBTable2-FootG-ColumnGrey-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-FootG-ColumnGrey-Footer1 p
{
	color: #808080;
}

.TableStyle-KBTable2-Body-Body1
{

}

.TableStyle-KBTable2-BodyI-ColumnBlue-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-BodyI-ColumnBlue-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-BodyE-ColumnBlue-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-BodyE-ColumnBlue-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-BodyF-ColumnBlue-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-BodyF-ColumnBlue-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-BodyH-ColumnBlue-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-BodyH-ColumnBlue-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-BodyD-ColumnBlue-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-BodyD-ColumnBlue-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-BodyC-ColumnBlue-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-BodyC-ColumnBlue-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-BodyB-ColumnBlue-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-BodyB-ColumnBlue-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-BodyA-ColumnBlue-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-BodyA-ColumnBlue-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-BodyG-ColumnBlue-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #0b6ab7;
}

.TableStyle-KBTable2-BodyG-ColumnBlue-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-KBTable2-BodyI-ColumnGrey-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-BodyI-ColumnGrey-Body1 p
{
	font-weight: normal;
	color: #808080;
}

.TableStyle-KBTable2-BodyE-ColumnGrey-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #808080;
	background-color: #ebeef1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-BodyE-ColumnGrey-Body1 p
{
	font-weight: normal;
	color: #808080;
}

.TableStyle-KBTable2-BodyF-ColumnGrey-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-BodyF-ColumnGrey-Body1 p
{
	font-weight: normal;
	color: #808080;
}

.TableStyle-KBTable2-BodyH-ColumnGrey-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	color: #808080;
	background-color: #ebeef1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-BodyH-ColumnGrey-Body1 p
{
	font-weight: normal;
	color: #808080;
}

.TableStyle-KBTable2-BodyD-ColumnGrey-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-BodyD-ColumnGrey-Body1 p
{
	font-weight: normal;
	color: #808080;
}

.TableStyle-KBTable2-BodyC-ColumnGrey-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-BodyC-ColumnGrey-Body1 p
{
	font-weight: normal;
	color: #808080;
}

.TableStyle-KBTable2-BodyB-ColumnGrey-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	color: #808080;
	background-color: #ebeef1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable2-BodyB-ColumnGrey-Body1 p
{
	font-weight: normal;
	color: #808080;
}

.TableStyle-KBTable2-BodyA-ColumnGrey-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-BodyA-ColumnGrey-Body1 p
{
	font-weight: normal;
	color: #808080;
}

.TableStyle-KBTable2-BodyG-ColumnGrey-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	color: #808080;
	background-color: #ebeef1;
}

.TableStyle-KBTable2-BodyG-ColumnGrey-Body1 p
{
	font-weight: normal;
	color: #808080;
}

