/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-collapse: collapse;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: PatternedRows2;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 9;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: scroll;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #e7ebef;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
}

mcTableColumnStyle
{
	span: 1;
	name: Regular;
	id: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e7ebef;
}

mcTableColumnStyle
{
	span: 1;
	id: 9;
	name: DarkShade;
	type: Manual;
	background-color: #AEB2B6;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e7ebef;
	background-color: #b1bbc7;
	name: Header1;
	id: 2;
	font-weight: bold;
	color: #ffffff;
	cell-padding-top: 15px;
	cell-padding-bottom: 15px;
	text-align: center;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: LightRows;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	cell-content-style-tag: p;
	cell-padding-top: 12px;
	cell-padding-bottom: 12px;
	cell-padding-left: 12px;
	cell-padding-right: 12px;
	text-align: justify;
}

mcTableBodyStyle
{
	span: 1;
	name: DarkerRows;
	id: 1;
	background-color: #f3f5f7;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	cell-content-style-tag: p;
	cell-padding-top: 12px;
	cell-padding-bottom: 12px;
	cell-padding-left: 12px;
	cell-padding-right: 12px;
	text-align: justify;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #e7ebef;
	name: Footer1;
	id: 3;
	separator-width: 1px;
	cell-padding-left: 24px;
	cell-padding-right: 24px;
	cell-padding-top: 24px;
	cell-padding-bottom: 24px;
}


/* Cell Styles: */
 
.TableStyle-PatternedRows2
{
	border-collapse: collapse;
	overflow: scroll;
	border-left-style: solid;
	border-left-color: #e7ebef;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #e7ebef;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #e7ebef;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7ebef;
	border-bottom-width: 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-spacing: 0px 0px;
}

.TableStyle-PatternedRows2-Column-Regular
{
	
}

.TableStyle-PatternedRows2-Column-DarkShade
{
	
}

.TableStyle-PatternedRows2-Head-Header1
{
	
}

.TableStyle-PatternedRows2-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadI-Regular-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows2-HeadE-Regular-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows2-HeadF-Regular-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadH-Regular-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows2-HeadD-Regular-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadC-Regular-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadB-Regular-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadA-Regular-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadG-Regular-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadI-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadI-DarkShade-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadE-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows2-HeadE-DarkShade-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadF-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows2-HeadF-DarkShade-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadH-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadH-DarkShade-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadD-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows2-HeadD-DarkShade-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadC-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadC-DarkShade-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadB-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadB-DarkShade-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadA-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadA-DarkShade-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-HeadG-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #b1bbc7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-PatternedRows2-HeadG-DarkShade-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRows2-Foot-Footer1
{
	
}

.TableStyle-PatternedRows2-FootI-Regular-Footer1
{
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootI-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootE-Regular-Footer1
{
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-PatternedRows2-FootE-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootF-Regular-Footer1
{
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-PatternedRows2-FootF-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootH-Regular-Footer1
{
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootH-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootD-Regular-Footer1
{
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-PatternedRows2-FootD-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootC-Regular-Footer1
{
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootC-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootB-Regular-Footer1
{
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootB-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootA-Regular-Footer1
{
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootA-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootG-Regular-Footer1
{
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootG-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootI-DarkShade-Footer1
{
	background-color: #AEB2B6;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootI-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootE-DarkShade-Footer1
{
	background-color: #AEB2B6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-PatternedRows2-FootE-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootF-DarkShade-Footer1
{
	background-color: #AEB2B6;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-PatternedRows2-FootF-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootH-DarkShade-Footer1
{
	background-color: #AEB2B6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootH-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootD-DarkShade-Footer1
{
	background-color: #AEB2B6;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-PatternedRows2-FootD-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootC-DarkShade-Footer1
{
	background-color: #AEB2B6;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootC-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootB-DarkShade-Footer1
{
	background-color: #AEB2B6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootB-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootA-DarkShade-Footer1
{
	background-color: #AEB2B6;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootA-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows2-FootG-DarkShade-Footer1
{
	background-color: #AEB2B6;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.TableStyle-PatternedRows2-FootG-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows2-Body-LightRows
{
	
}

.TableStyle-PatternedRows2-BodyI-Regular-LightRows
{
	text-align: justify;
	background-color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-PatternedRows2-BodyI-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyE-Regular-LightRows
{
	text-align: justify;
	background-color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyE-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyF-Regular-LightRows
{
	text-align: justify;
	background-color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows2-BodyF-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyH-Regular-LightRows
{
	text-align: justify;
	background-color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyH-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyD-Regular-LightRows
{
	text-align: justify;
	background-color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows2-BodyD-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyC-Regular-LightRows
{
	text-align: justify;
	background-color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-PatternedRows2-BodyC-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyB-Regular-LightRows
{
	text-align: justify;
	background-color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyB-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyA-Regular-LightRows
{
	text-align: justify;
	background-color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-PatternedRows2-BodyA-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyG-Regular-LightRows
{
	text-align: justify;
	background-color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-PatternedRows2-BodyG-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyI-DarkShade-LightRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyI-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyE-DarkShade-LightRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #AEB2B6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyE-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyF-DarkShade-LightRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyF-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyH-DarkShade-LightRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyH-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyD-DarkShade-LightRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyD-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyC-DarkShade-LightRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyC-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyB-DarkShade-LightRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyB-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyA-DarkShade-LightRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyA-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows2-BodyG-DarkShade-LightRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyG-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows2-Body-DarkerRows
{
	
}

.TableStyle-PatternedRows2-BodyI-Regular-DarkerRows
{
	text-align: justify;
	background-color: #f3f5f7;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-PatternedRows2-BodyI-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyE-Regular-DarkerRows
{
	text-align: justify;
	background-color: #f3f5f7;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyE-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyF-Regular-DarkerRows
{
	text-align: justify;
	background-color: #f3f5f7;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows2-BodyF-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyH-Regular-DarkerRows
{
	text-align: justify;
	background-color: #f3f5f7;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyH-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyD-Regular-DarkerRows
{
	text-align: justify;
	background-color: #f3f5f7;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows2-BodyD-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyC-Regular-DarkerRows
{
	text-align: justify;
	background-color: #f3f5f7;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-PatternedRows2-BodyC-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyB-Regular-DarkerRows
{
	text-align: justify;
	background-color: #f3f5f7;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyB-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyA-Regular-DarkerRows
{
	text-align: justify;
	background-color: #f3f5f7;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-PatternedRows2-BodyA-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyG-Regular-DarkerRows
{
	text-align: justify;
	background-color: #f3f5f7;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-PatternedRows2-BodyG-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyI-DarkShade-DarkerRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyI-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyE-DarkShade-DarkerRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #AEB2B6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyE-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyF-DarkShade-DarkerRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyF-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyH-DarkShade-DarkerRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyH-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyD-DarkShade-DarkerRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyD-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyC-DarkShade-DarkerRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyC-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyB-DarkShade-DarkerRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows2-BodyB-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyA-DarkShade-DarkerRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyA-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows2-BodyG-DarkShade-DarkerRows
{
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #AEB2B6;
}

.TableStyle-PatternedRows2-BodyG-DarkShade-DarkerRows p
{
	
}


