/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: VerticalTable;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #e7ebef;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	max-id: 6;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e7ebef;
	name: Column1;
	id: 0;
	type: Header;
	background-color: #b1bbc7;
	text-align: center;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column3;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	cell-padding-left: 16px;
	cell-padding-right: 16px;
	cell-padding-top: 16px;
	cell-padding-bottom: 16px;
	background-color: #f3f5f7;
	text-align: left;
	cell-content-style-tag: none;
	font-weight: 400;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e7ebef;
	name: Body1;
	id: 1;
	cell-padding-left: 16px;
	cell-padding-right: 16px;
	cell-padding-top: 16px;
	cell-padding-bottom: 16px;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: Body2;
	cell-padding-left: 16px;
	cell-padding-right: 16px;
	cell-padding-top: 16px;
	cell-padding-bottom: 16px;
	background-color: #f3f5f7;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e7ebef;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e7ebef;
	name: Footer1;
	id: 3;
	cell-padding-left: 16px;
	cell-padding-right: 16px;
	cell-padding-top: 16px;
	cell-padding-bottom: 16px;
}


/* Cell Styles: */
 
.TableStyle-VerticalTable
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #e7ebef;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #e7ebef;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #e7ebef;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7ebef;
	border-bottom-width: 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-spacing: 0px 0px;
}

.TableStyle-VerticalTable-Column-Column1
{
	
}

.TableStyle-VerticalTable-Column-Column2
{
	
}

.TableStyle-VerticalTable-Column-Column3
{
	
}

.TableStyle-VerticalTable-Head-Header1
{
	
}

.TableStyle-VerticalTable-HeadI-Column1-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadI-Column1-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-HeadE-Column1-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadF-Column1-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-HeadF-Column1-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadH-Column1-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadD-Column1-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-HeadD-Column1-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadC-Column1-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadC-Column1-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadB-Column1-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadA-Column1-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadA-Column1-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadG-Column1-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadG-Column1-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadI-Column2-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadI-Column2-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadE-Column2-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-HeadE-Column2-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadF-Column2-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-HeadF-Column2-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadH-Column2-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadH-Column2-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadD-Column2-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-HeadD-Column2-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadC-Column2-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadC-Column2-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadB-Column2-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadB-Column2-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadA-Column2-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadA-Column2-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadG-Column2-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadG-Column2-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadI-Column3-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadI-Column3-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadE-Column3-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-HeadE-Column3-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadF-Column3-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-HeadF-Column3-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadH-Column3-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadH-Column3-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadD-Column3-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-HeadD-Column3-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadC-Column3-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadC-Column3-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadB-Column3-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadB-Column3-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadA-Column3-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadA-Column3-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-HeadG-Column3-Header1
{
	font-weight: 400;
	text-align: left;
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-HeadG-Column3-Header1 p
{
	font-weight: 400;
}

.TableStyle-VerticalTable-Foot-Footer1
{
	
}

.TableStyle-VerticalTable-FootI-Column1-Footer1
{
	text-align: center;
	background-color: #b1bbc7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootI-Column1-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootE-Column1-Footer1
{
	text-align: center;
	background-color: #b1bbc7;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-VerticalTable-FootE-Column1-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootF-Column1-Footer1
{
	text-align: center;
	background-color: #b1bbc7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-VerticalTable-FootF-Column1-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootH-Column1-Footer1
{
	text-align: center;
	background-color: #b1bbc7;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootH-Column1-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootD-Column1-Footer1
{
	text-align: center;
	background-color: #b1bbc7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-VerticalTable-FootD-Column1-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootC-Column1-Footer1
{
	text-align: center;
	background-color: #b1bbc7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootC-Column1-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootB-Column1-Footer1
{
	text-align: center;
	background-color: #b1bbc7;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootB-Column1-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootA-Column1-Footer1
{
	text-align: center;
	background-color: #b1bbc7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootA-Column1-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootG-Column1-Footer1
{
	text-align: center;
	background-color: #b1bbc7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootG-Column1-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootI-Column2-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootI-Column2-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootE-Column2-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-VerticalTable-FootE-Column2-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootF-Column2-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-VerticalTable-FootF-Column2-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootH-Column2-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootH-Column2-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootD-Column2-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-VerticalTable-FootD-Column2-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootC-Column2-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootC-Column2-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootB-Column2-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootB-Column2-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootA-Column2-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootA-Column2-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootG-Column2-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootG-Column2-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootI-Column3-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootI-Column3-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootE-Column3-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-VerticalTable-FootE-Column3-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootF-Column3-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-VerticalTable-FootF-Column3-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootH-Column3-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootH-Column3-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootD-Column3-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top-width: 1px;
	border-top-color: #e7ebef;
	border-top-style: solid;
}

.TableStyle-VerticalTable-FootD-Column3-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootC-Column3-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootC-Column3-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootB-Column3-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootB-Column3-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootA-Column3-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootA-Column3-Footer1 p
{
	
}

.TableStyle-VerticalTable-FootG-Column3-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-FootG-Column3-Footer1 p
{
	
}

.TableStyle-VerticalTable-Body-Body1
{
	
}

.TableStyle-VerticalTable-BodyI-Column1-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyI-Column1-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyE-Column1-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
	text-align: center;
	background-color: #b1bbc7;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-VerticalTable-BodyE-Column1-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyF-Column1-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyF-Column1-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyH-Column1-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-VerticalTable-BodyH-Column1-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyD-Column1-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyD-Column1-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyC-Column1-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyC-Column1-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyB-Column1-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-VerticalTable-BodyB-Column1-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyA-Column1-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyA-Column1-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyG-Column1-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyG-Column1-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyI-Column2-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyI-Column2-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyE-Column2-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyE-Column2-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyF-Column2-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyF-Column2-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyH-Column2-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyH-Column2-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyD-Column2-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyD-Column2-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyC-Column2-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyC-Column2-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyB-Column2-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyB-Column2-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyA-Column2-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyA-Column2-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyG-Column2-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyG-Column2-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyI-Column3-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyI-Column3-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyE-Column3-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyE-Column3-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyF-Column3-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyF-Column3-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyH-Column3-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyH-Column3-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyD-Column3-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyD-Column3-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyC-Column3-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyC-Column3-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyB-Column3-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyB-Column3-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyA-Column3-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyA-Column3-Body1 p
{
	
}

.TableStyle-VerticalTable-BodyG-Column3-Body1
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyG-Column3-Body1 p
{
	
}

.TableStyle-VerticalTable-Body-Body2
{
	
}

.TableStyle-VerticalTable-BodyI-Column1-Body2
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyI-Column1-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyE-Column1-Body2
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
	text-align: center;
	background-color: #b1bbc7;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-VerticalTable-BodyE-Column1-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyF-Column1-Body2
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyF-Column1-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyH-Column1-Body2
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-VerticalTable-BodyH-Column1-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyD-Column1-Body2
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyD-Column1-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyC-Column1-Body2
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyC-Column1-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyB-Column1-Body2
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
	border-right-width: 1px;
	border-right-color: #e7ebef;
	border-right-style: solid;
}

.TableStyle-VerticalTable-BodyB-Column1-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyA-Column1-Body2
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyA-Column1-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyG-Column1-Body2
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #b1bbc7;
}

.TableStyle-VerticalTable-BodyG-Column1-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyI-Column2-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyI-Column2-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyE-Column2-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyE-Column2-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyF-Column2-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyF-Column2-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyH-Column2-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyH-Column2-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyD-Column2-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyD-Column2-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyC-Column2-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyC-Column2-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyB-Column2-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyB-Column2-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyA-Column2-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyA-Column2-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyG-Column2-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyG-Column2-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyI-Column3-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyI-Column3-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyE-Column3-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyE-Column3-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyF-Column3-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyF-Column3-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyH-Column3-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyH-Column3-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyD-Column3-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e7ebef;
	border-bottom-style: solid;
}

.TableStyle-VerticalTable-BodyD-Column3-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyC-Column3-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyC-Column3-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyB-Column3-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyB-Column3-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyA-Column3-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyA-Column3-Body2 p
{
	
}

.TableStyle-VerticalTable-BodyG-Column3-Body2
{
	background-color: #f3f5f7;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.TableStyle-VerticalTable-BodyG-Column3-Body2 p
{
	
}


