.gsc-search-box table, 
table.gsc-above-wrapper-area-container,
table.gcsc-branding,
table.gsc-table-result,
table.gsc-resultsHeader
{
	background-color: transparent;
    border: none;
}

table.gsc-search-box td {
	padding-top: 0px;
}

input.gsc-search-button {
    margin-right: 4px;
}

.gsc-clear-button {
    display: none;
}