<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
<head>
</head>
<body>

<h1>Module Reference Template</h1>

<!-- Use this wrappers for content with aside module ref block-->
<div class="clearfix">
    <div class="content-holder">
        <MadCap:relatedTopics class="sideContent" target="_self" style="mc-label: 'Versions';mc-help-control-display: list;">
            <MadCap:relatedTopic src="tax-1-0.htm" />
            <MadCap:relatedTopic src="tax_2_0.htm" />
        </MadCap:relatedTopics>
        <p>
            <MadCap:popup>
                <MadCap:popupHead>MC</MadCap:popupHead>
                <MadCap:popupBody>Multi-currency</MadCap:popupBody>
            </MadCap:popup>, <MadCap:popup><MadCap:popupHead>ML</MadCap:popupHead><MadCap:popupBody>Multi-language</MadCap:popupBody></MadCap:popup>, <MadCap:popup><MadCap:popupHead>MS</MadCap:popupHead><MadCap:popupBody>Multi-store</MadCap:popupBody></MadCap:popup></p>
        <p>A B2B business model implies bilateral commercial relations between businesses, therefore the Company is the top figure of every B2B marketplace. Each company has a specific organizational structure with its divisions (units) and employee roles.  At some point or another, a B2B business owner would need separate accounts for employees to constrain or extend rights in regards to products, orders, confidential information etc.</p>
        <p>The Company Account feature allows you to control user access to the system within an organization by configuring different permissions and roles for company's entities (units) and users. You can set up an own company structure of business units and users with various levels of permissions. This feature also enables you to create own permission rules and assign them to specific users.</p>
        <p>If you are:</p>
    </div>

    <!-- Module Reference Block Aside-->

    <div class="mr-aside-container js-expandable-container">
        <h4 class="mr-title">
            Module References
        </h4>
        <ul class="mr-list ">
            <li><a href="#" class="mr-aside-link">Get a general idea of the Minimum Order Value feature</a></li>
            <li><a href="#" class="mr-aside-link">Get a general idea of the Minimum Order Value feature</a></li>
            <li><a href="#" class="mr-aside-link">Get a general idea of the Minimum Order Value feature</a></li>
            <li><a href="#" class="mr-aside-link">Get a general idea of the Minimum Order Value feature</a></li>
            <li><a href="#" class="mr-aside-link">CmsContentWidgetProductGroupConnector</a></li>
            <li><a href="#" class="mr-aside-link">Get a general idea of the Minimum Order Value feature</a></li>
            <li><a href="#" class="mr-aside-link">CmsContentWidgetProductGroupConnector</a></li>
            <li><a href="#" class="mr-aside-link">Assertion</a></li>
            <li><a href="#" class="mr-aside-link">Assertion</a></li>
            <li><a href="#" class="mr-aside-link">Assertion</a></li>
            <li><a href="#" class="mr-aside-link">Assertion</a></li>
        </ul>
    </div>

</div>

<!-- Module Reference Block FullWidth-->

<div class="mr-container">
    <h4 class="mr-title">
        Module Reference
    </h4>
    <div class="mr-list-container grid">
        <div class="mr-col">
            <ul class="mr-list mr-list-primary js-expandable-container" id="mr-list-1">
                <li class="mr-title">Backend Modules</li>
                <li><a href="#" class="mr-link">CmsContentWidgetProductGroupConnector</a></li>
                <li><a href="#" class="mr-link">Get a general idea of the Minimum Order Value feature</a></li>
                <li><a href="#" class="mr-link">CmsContentWidgetProductGroupConnector</a></li>
                <li><a href="#" class="mr-link">Get a general idea of the Minimum Order Value feature</a></li>
                <li><a href="#" class="mr-link">CmsContentWidgetProductGroupConnector</a></li>
                <li><a href="#" class="mr-link">CmsContentWidgetProductGroupConnector</a></li>
                <li><a href="#" class="mr-link">CmsContentWidgetProductGroupConnector</a></li>
            </ul>
        </div>

        <div class="mr-col">
            <ul class="mr-list mr-list-primary js-expandable-container" id="mr-list-2">
                <li class="mr-title">Shop Modules</li>
                <li><a href="#" class="mr-link">Assertion</a></li>
                <li><a href="#" class="mr-link">Assertion</a></li>
                <li><a href="#" class="mr-link">Get a general idea of the Minimum Order Value feature</a></li>
                <li><a href="#" class="mr-link">Assertion</a></li>
            </ul>
        </div>

        <div class="mr-col">
            <ul class="mr-list mr-list-primary js-expandable-container" id="mr-list-3">
                <li class="mr-title">Eco Modules</li>
                <li><a href="#" class="mr-link">Get a general idea of the Minimum Order Value feature</a></li>
                <li><a href="#" class="mr-link">CmsContentWidgetProductGroupConnector</a></li>
                <li><a href="#" class="mr-link">Get a general idea of the Minimum Order Value feature</a></li>
                <li><a href="#" class="mr-link">Assertion</a></li>
                <li><a href="#" class="mr-link">Assertion</a></li>
                <li><a href="#" class="mr-link">Assertion</a></li>
                <li><a href="#" class="mr-link">Get a general idea of the Minimum Order Value feature</a></li>
                <li><a href="#" class="mr-link">Get a general idea of the Minimum Order Value feature</a></li>
                <li><a href="#" class="mr-link">CmsContentWidgetProductGroupConnector</a></li>
                <li><a href="#" class="mr-link">Get a general idea of the Minimum Order Value feature</a></li>
                <li><a href="#" class="mr-link">Assertion</a></li>
                <li><a href="#" class="mr-link">Assertion</a></li>
                <li><a href="#" class="mr-link">Assertion</a></li>
                <li><a href="#" class="mr-link">Get a general idea of the Minimum Order Value feature</a></li>
            </ul>
        </div>
    </div>
</div>

<!--Dropdown with anchorer-->
<MadCap:dropDown>
    <MadCap:dropDownHead>
        <MadCap:dropDownHotspot><div class="drop-anchor">Step 1: Install Spryker</div></MadCap:dropDownHotspot>
    </MadCap:dropDownHead>
    <MadCap:dropDownBody>
        <p>To prepare Vagrant, install the following:</p>
        <ul>
            <li class="bullet_list"><a href="https://git-scm.com/book/en/v2/Getting-Started-Installing-Git" target="_blank">Git</a>
            </li>
            <li class="bullet_list"><a href="https://www.virtualbox.org/wiki/Downloads" target="_blank">VirtualBox 5.2.2+</a>
            </li>
            <li class="bullet_list"><a href="https://www.vagrantup.com/downloads.html" target="_blank">Vagrant 2.0.0+</a>
            </li>
            <li class="bullet_list">vagrant-vbguest and vagrant-hostmanager plugins:</li>
        </ul><pre xml:space="preserve"><code class="bash">vagrant plugin install vagrant-vbguest
				vagrant plugin install vagrant-hostmanager</code></pre>
    </MadCap:dropDownBody>
</MadCap:dropDown>
</body>
</html>