.search-auto-complete {
    position: absolute;
    width: 100%;
    z-index: 100;
}

.search-auto-complete ul {
    margin: 0;
}

.search-auto-complete li {
    display: block;
}

.search-auto-complete li a {
    display: block;
    text-decoration: none;
    line-height: normal;
}

.search-auto-complete li .auto-result-icon {
    background-repeat: no-repeat;
    background-position: center center;
    width: 17px;
    height: 18px;
    float: left;
}

.search-auto-complete li .auto-result-remove {
    float: right;
    cursor: pointer;
}

.search-auto-complete li.auto-result-item a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}